<div class="container">
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="festName" class="col-form-label fs-4">Название:</label>
    </div>
    <div class="col-8">
      <input type="text" [(ngModel)]="fest.name" id="festName" class="form-control" aria-describedby="passwordHelpInline">
    </div>
    <div class="col-auto">
      <button class="btn btn-success btn-sm mx-1" (click)="onAdd()">Добавить</button>
      <button class="btn btn-secondary btn-sm" (click)="onCancel()">Отменить</button>
    </div>
  </div>
</div>


<!--<div class="container" style="max-width: 500px;">-->
<!--  <h3 class="mb-3 mt-5 text-center">Добавление фестиваля</h3>-->
<!--  <div class="form-group">-->
<!--    <input type="text" [(ngModel)]="fest.name" class="form-control" placeholder="Название">-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <button class="btn btn-success btn-sm" (click)="onAdd()">Добавить</button>-->
<!--    <button class="btn btn-secondary btn-sm" (click)="onCancel()">Отменить</button>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="container  mb-5">-->
<!--  <div class="col-md-7">-->
<!--    <h3 class="mb-1 text-center text-info">Create Festival</h3>-->

<!--    <div class="mb-3 ">-->
<!--      <input type="text" class="form-control" placeholder="Festival name" [(ngModel)]="festivalName">-->
<!--    </div>-->

<!--    &lt;!&ndash;  <div class="mb-3 ">&ndash;&gt;-->
<!--    &lt;!&ndash;    <input type="text"  class="form-control" placeholder="Email">&ndash;&gt;-->
<!--    &lt;!&ndash;  </div>&ndash;&gt;-->

<!--    &lt;!&ndash;  <div class="mb-3 ">&ndash;&gt;-->
<!--    &lt;!&ndash;    <input type="text"  class="form-control" placeholder="Phone">&ndash;&gt;-->
<!--    &lt;!&ndash;  </div>&ndash;&gt;-->

<!--    <div class="form-group">-->
<!--      <button class="btn btn-success btn-sm btn-block" (click)="onOk()" >Create Festival</button>-->
<!--      <button class="btn btn-danger btn-sm btn-block" (click)="onCancel()" >Cancel</button>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
