<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-12 text-center">
      <h4>Список фестивалей</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      №
    </div>
    <div class="col-md-5">
      Название
    </div>
    <div class="col-md-auto">
      Действие
    </div>

  </div>
  <!--  ряд таблицы-->
  <div class="row" *ngFor="let fest of festivalDtos">
    <div class="col-md-1">
      {{ fest.id }}
    </div>
    <div class="col-md-5">
      {{ fest.name }}
    </div>
    <div class="col-md-auto">
      <div class="row">
        <div class="col">
        <button class="btn btn-primary btn-sm" [routerLink]="['edit',fest.id]">Edit</button>
        </div>
        <div class="col">
        <button class="btn btn-danger btn-sm" (click)="onDelete(fest.id)">Delete</button>

        </div>
      </div>

    </div>

  </div>

</div>


<!--</div>-->
<div class="container">


  <div class="row justify-content-center">
    <div class="col-auto">
      <h4 class="mb-3 text-center">Список фестивалей</h4>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary btn-sm" [routerLink]="['add']">Добавить</button>
    </div>
  </div>

  <table class="table table-responsive  table-sm table-bordered table-hover caption-top">
    <caption>
      Список фестивалей
      <button class="btn btn-primary btn-sm" [routerLink]="['add']">Добавить</button>
    </caption>
    <thead>
    <tr class="row">
      <th scope="col">#Id</th>
      <th scope="col">Название</th>
      <th scope="col" class="col-auto">Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fest of festivalDtos" class="row">
      <td class="col-auto">{{ fest.id }}</td>
      <td class="col-lg-4">{{ fest.name }}</td>
      <td class="col-auto">

          <button class="btn btn-primary btn-sm" [routerLink]="['edit',fest.id]">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="onDelete(fest.id)">Delete</button>

        <!--          <span class="edit btn-danger btn-sm btn" (click)="onDelete(fest.id)">Delete</span>-->
        <!--        <span class="edit btn-success btn-sm btn" [routerLink]="['edit',fest.id]">Edit</span>-->
      </td>
    </tr>
    </tbody>
  </table>
  <!--  <div class="d-flex align-content-center bd-highlight">-->
  <!--    <button class="btn btn-primary btn-sm" [routerLink]="['/festivals/add']">Добавить</button>-->
  <!--  </div>-->
</div>

<router-outlet></router-outlet>






