<!--<p>my-first-component works!</p>-->
<!--<p >{{title}}</p>-->
<!--<p>My data</p>-->
<!--<div class="container border">-->
<!--  <p>Редктирование</p>-->
<!--  <div class="col-2 container border">-->
<!--    <button type="button" class="btn btn-primary btn-sm">Small button</button>-->
<!--  </div>-->

<!--</div>-->
<div class="container col-10 mt-5">

  <h2 class="mb-3 text-center">Список фестивалей</h2>
  <div class="container text-center mb-1 bd-highlight">
    <button class="btn btn-primary btn-sm" [routerLink]="['/festivals/add']">Добавить</button>
  </div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Название</th>
      <th scope="col">Действие</th>
      <th scope="col">Создан</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fest of festivalDtos">
      <td>{{ fest.id }}</td>
      <td>{{ fest.name }}</td>
      <td>
          <span class="edit btn-danger btn-sm btn" (click)="onDelete(fest.id)">Delete</span>
        <span class="edit btn-success btn-sm btn" [routerLink]="['/festivals/edit',fest.id]">Edit</span>
      </td>
      <td>
        {{fest.createdAt}}
      </td>
    </tr>
    </tbody>
  </table>
<!--  <div class="d-flex align-content-center bd-highlight">-->
<!--    <button class="btn btn-primary btn-sm" [routerLink]="['/festivals/add']">Добавить</button>-->
<!--  </div>-->
</div>



<!--<table class="table table-hover">-->
<!--  <thead>-->
<!--  <tr class="text-center">-->
<!--    <th scope="col">#</th>-->
<!--    <th scope="col">Название</th>-->
<!--    <th scope="col">Action</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let fest of festivalDtos" class="text-center">-->
<!--    <td scope="row">{{ fest.id }}</td>-->
<!--    <td>{{ fest.name }}</td>-->
<!--    <td class="mx-1">-->
<!--      <button type="button" class="btn btn-primary btn-sm " (click)="onEdit(fest)">Edit</button>-->

<!--      <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(fest)">Delete</button>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

<!--<div *ngIf="isEditable">-->
<!--  <label for="editFestivalName">Введите новое имя:</label>-->
<!--  <input type="text" id="editFestivalName" [(ngModel)]="editableFest.name">-->
<!--  <button class="btn btn-primary btn-sm" (click)="onEditOk()">OK</button>-->
<!--</div>-->

<!--<div class="row g-3">-->
<!--  <div class="col-2">-->
<!--    <label for="staticEmail2" class="visually-hidden">Email</label>-->
<!--    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Новый фестиваль:">-->
<!--  </div>-->
<!--  <div class="col-4">-->
<!--    <label for="inputPassword2" class="visually-hidden">Password</label>-->
<!--    <input type="text" class="form-control" id="inputPassword2" placeholder="Название" [(ngModel)]="editableFest.name">-->
<!--  </div>-->
<!--  <div class="col-2">-->
<!--    <button type="submit" class="btn btn-primary mb-5" >OK</button>-->
<!--  </div>-->
<!--</div>-->



<!--<div *ngIf="isAdded">-->
<!--  <app-add-festival (addOkEvent)="onAddOk($event)" (addCancelEvent)="onAddCancel($event)"></app-add-festival>-->
<!--</div>-->

<!--<div *ngIf="isEditable">-->
<!--  <app-fest-edit [fest]="editableFest" (editOkEvent)="onEditOk($event)" (editCancelEvent)="onEditCacel($event)"></app-fest-edit>-->
<!--</div>-->

<!--<div class="container  mb-5">-->
<!--<div class="col-md-7">-->
<!--  <h3 class="mb-1 text-center text-info">Create Employee</h3>-->

<!--  <div class="mb-3 ">-->
<!--    <input type="text"  class="form-control" placeholder="Name">-->
<!--  </div>-->

<!--  <div class="mb-3 ">-->
<!--    <input type="text"  class="form-control" placeholder="Email">-->
<!--  </div>-->

<!--  <div class="mb-3 ">-->
<!--    <input type="text"  class="form-control" placeholder="Phone">-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <button class="btn btn-success btn-sm btn-block" >Create Employee</button>-->
<!--  </div>-->

<!--</div>-->
<!--</div>-->


<!--<table class='table'>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>ID</th>-->
<!--    <th>Name</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let repo of repos;">-->
<!--    <td>{{repo.id}}</td>-->
<!--    <td>{{repo.name}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

<!--<pre>{{repos | json}}</pre>-->
